@font-face {
  font-family: 'BrisaSans';
  src: url('../fonts/BrisaSans-Regular.woff2') format('woff2'),
       url('../fonts/BrisaSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BrisaSans';
  src: url('../fonts/BrisaSans-Medium.woff2') format('woff2'),
       url('../fonts/BrisaSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BrisaSans';
  src: url('../fonts/BrisaSans-Bold.woff2') format('woff2'),
       url('../fonts/BrisaSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}