@media (max-width: 1430px) {
  .deal__item {
    width: calc(50% - 10px);
  }
}

@media (max-width: 1270px) {
  .deal__search {
    order: 1;
    margin-left: 10px;
  }
  .deal__search .search__form {
    position: absolute;
    z-index: 19;
    left: 110px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    overflow: hidden;
    transition: all .3s;
  }
  .deal__search .search__form-btn {
    left: 0;
  }
  .deal__search .search__form--active .search__field {
    width: 100%;
    padding: 0 15px 0 45px;
  }
  .deal__search .search__form--active .search__form-btn {
    width: auto;
    left: 15px;
  }
  .deal__search .search__form--active .search__show-btn {
    display: none;
  }
  .deal__search .search__form--active {
    width: calc(100% - 110px);
  }
  .deal__search .search__show-btn {
    display: block;
    cursor: pointer;
  }
  .deal__settings {
    order: 3;
    margin-left: auto;
    margin-right: 0;
  }
  .deal__settings .settings-btn img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    object-position: center;
  }
  .deal__settings .settings__list {
    left: auto;
    right: 0;
  }
  .header__category {
    margin: 0 auto;
  }
  .products__item {
    width: calc(25% - 10px);
  }
}

@media (max-width: 1100px) {
  .products__search {
    margin-left: 20px;
  }
  .products__search .search__form{
    margin: 0 auto;
    position: absolute;
    z-index: 19;
    left: 120px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    overflow: hidden;
    transition: all .3s;
  }
  .products__search .search__form-btn {
    left: 0;
  }
  .products__search .search__form--active .search__field {
    width: 100%;
  }
  .products__search .search__form--active .search__form-btn {
    left: 15px;
  }
  .products__search .search__form--active .search__show-btn {
    display: none;
  }
  .products__search .search__form--active {
    width: calc(100% - 120px);
  }
  .products__search .search__show-btn {
    display: block;
    cursor: pointer;
  }
  .products__search .search__field {
    width: 0;
  }
  .products__search .search__field,
  .products__search .search__form-btn {
    overflow: hidden;
    transition: all .3s;
  }
  .products__search .search__form-btn {
    left: 0;
  }
  .products__settings {
    order: 1;
    margin-right: 0;
    margin-left: auto;
  }
  .products__content-buy {
    order: 3;
    margin-left: 20px;
  }
  .settings__list {
    top: calc(100% + 20px);
  }
  .deal__dropdown-sort .dropdown__btn-sort {
    color: transparent;
    width: 20px;
    height: 17px;
    min-width: auto;
    padding: 0;
    border: none;
    font-size: 0;
    bottom: 3px;
  }
  .deal__dropdown-sort .dropdown__btn-sort::before {
    left: 0;
  }
  .dropdown--active .deal__dropdown-sort .dropdown__btn-sort {
    background-color: transparent;
  }
  .deal__dropdown-sort .dropdown__sort-list {
    width: auto;
    border-radius: 10px;
    top: calc(100% + 20px);
  }
  .deal__dropdown-sort .dropdown__sort-list.dropdown__list--active {
    padding: 10px 15px 10px 25px;
  }
  .deal__search .search__form {
    left: 35px;
  }
  .deal__search .search__form--active {
    width: calc(100% - 35px);
  }
  .deal__dropdown-sort.dropdown--active .dropdown__btn-sort {
    background-color: transparent;
  }
}

@media (max-width: 1000px) {
  .deal__filter-block,
  .deal__btn {
    order: -1;
    margin-left: 0;
  }
  .deal__btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .deal__items-header {
    justify-content: center;
    cursor: pointer;
    transition: all .3s;
    flex-wrap: wrap;
  }
  .deal__items-header--active {
    background-color: var(--color-mc);
  }
  .deal__header-name {
    display: block;
    width: 100%;
    text-align: center;
  }
  .deal__header-name span {
    position: relative;
    color: var(--color-lc);
    transition: all .3s;
  }
  .deal__header-name span::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    top: 50%;
    left: -8px;
    transform: translateY(-50%);
    background-color: transparent;
    transition: all .3s;
  }
  .deal__items-header--active .deal__header-name span {
    color: var(--color-c);
  }
  .deal__items-header--active .deal__header-name span::before {
    background-color: var(--color-c);
  }
  .deal__cart {
    margin-right: 0;
    margin-bottom: 5px;
  }
  .deal__items-header-buy {
    margin-right: 15px;
  }
  .deal__items-slider {
    display: none;
  }
  .deal__side {
    display: none;
    flex-basis: 100%;
  }
  .deal__side--active {
    display: block;
  }
  .deal__item {
    width: calc(33.333% - 10px);
  }
  .deal__search .search__show-btn {
    display: none;
  }
  .deal__search .search__form {
    display: block;
    position: relative;
    width: 320px;
    top: 0;
    left: 0;
    transform: translateY(0);
  }
  .products__item {
    width: calc(33.333% - 10px);
  }
}

@media (max-width: 900px) {
  .products__filter {
    position: fixed;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    overflow-y: auto;
    z-index: 100;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transform: translateY(-100%);
    transition: all .3s;
    padding-bottom: 0;
  }
  .filter--active.products__filter {
    transform: translateY(0);
  }
  .products__aside {
    flex-basis: auto;
    width: auto;
    margin-right: 0;
  }
  .products__filter .filter__title {
    position: relative;
    display: block;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: var(--color-mc);
    padding-bottom: 30px;
    margin-bottom: 40px;
  }
  .products__filter .filter__title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--color-hc);
  }
  .products__filter .filter__close-btn {
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;
  }
  .products__filter .filter__buttons {
    position: sticky;
    z-index: 90;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 0;
    margin-top: auto;
    margin-left: -10px;
    background-color: var(--color-c);
    box-shadow: 0 0 10px 15px var(--color-c);
  }
  .products__filter .filter__btn {
    color: var(--color-w);
    font-size: 16px;
    font-weight: 500;
    width: calc(50% - 10px);
    background-color: var(--color-hc);
    border-radius: 10px;
    padding: 11px 10px;
    margin-left: 10px;
  }
  .products__filter .filter__submit-btn {
    background-color: var(--color-mc);
  }
  .range-slider {
    margin-bottom: 20px;
  }
  .products__search .search__form--active {
    width: 320px;
  }
  .products__settings .settings-btn img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    object-position: center;
  }
  .products__filter-btn {
    display: block;
    order: 2;
    margin-left: 10px;
    line-height: 0;
  }
  .products__item {
    width: calc(25% - 10px);
  }
  .modal-item__close {
    display: block;
  }
  .modal-item__inner {
    flex-direction: column;
  }
  .modal-item__slider-block,
  .modal-item__info {
    flex-basis: auto;
  }
  .modal-item__slider-block {
    max-width: 400px;
    margin: 0 auto 20px;
  }
  .modal-item__title {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
  }
  .modal-item__info {
    position: static;
  }
  .products__settings .settings__list {
    left: auto;
    right: 0;
  }
}

@media (max-width: 800px) {
  .products__search .search__form--active {
    width: 250px;
  }
  .products__item {
    width: calc(33.333% - 10px);
  }
  .footer__inner {
    flex-direction: column;
  }
  .footer__logo {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .header__category {
    display: none;
  }
  .header__logo {
    margin: 0 auto;
  }
  .header__dropdowns {
    margin-left: 0;
  }
  .menu__item {
    margin-left: 0;
  }
  .menu__item + .menu__item {
    margin-left: 25px;
  }
  .products__category {
    display: block;
    margin: 0 auto;
  }  
  .deal__item {
    width: calc(50% - 10px);
  }
  .deal__search .search__form {
    position: absolute;
    z-index: 19;
    left: 35px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    overflow: hidden;
    transition: all .3s;
  }
  .deal__search .search__show-btn {
    display: block;
  }
  .deal__search .search__form--active {
    width: calc(100% - 35px);
  }
  .deal__category {
    display: block;
    order: 2;
    margin-left: auto;
  }
  .category__item + .category__item {
    margin-left: 15px;
  }
  .info__content {
    padding: 30px 15px;
  }
  .info__poster-wrapper {
    margin: 5px -15px 20px;
  }
}

@media (max-width: 700px) {
  .products__item {
    width: calc(50% - 10px);
  }
  .products__search .search__form {
    left: 30px;
  }
  .products__search .search__form--active {
    width: calc(100% - 30px);
  }
  .dropdown-sort {
    margin-left: 0;
  }
  .footer__inner {
    padding: 40px 25px 50px;
  }
  .header__dropdowns {
    display: none;
  }
  .menu__list-wrapper {
    position: fixed;
    display: flex;
    max-height: 100vh;
    overflow-y: auto;
    flex-direction: column;
    z-index: 99;
    background-color: var(--color-c);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    transform: translateY(-100%);
    transition: all .3s;
  }
  .menu__list-wrapper--active {
    transform: translateY(0);
  }
  .menu__item,
  .menu__link {
    display: block;
  }
  .menu__item + .menu__item {
    margin-left: 0;
    margin-top: 15px;
  }
  .menu__item--last {
    margin-bottom: 35px;
  }
  .menu__link {
    font-size: 24px;
    padding-left: 15px;
  }
  .menu__link::after {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .menu__open-btn,
  .menu__logo,
  .menu__dropdowns,
  .menu__footer,
  .menu__close-btn {
    display: block;
  }
  .menu__close-btn {
    position: absolute;
    top: 30px;
    right: 30px;
  }
  .menu__logo {
    text-align: center;
    margin-bottom: 40px;
  }
  .menu__link::after {
    width: 6px;
    height: 6px;
  }
  .menu__dropdowns {
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
  }
  .dropdown-wrapper + .dropdown-wrapper {
    margin-left: 45px;
  }
  .menu__dropdowns .dropdown {
    font-size: 24px;
  }
  .menu__dropdowns .dropdown__btn::before {
    width: 15px;
    height: 9px;
  }
  .menu__dropdowns .dropdown__btn {
    padding: 8px 18px 8px 36px;
  }
  .menu__dropdowns .dropdown__list--active{
    padding-left: 36px;
  }
  .menu__dropdowns .dropdown__btn::before {
    left: 12px;
  }
  .menu__dropdowns .dropdown__item::before {
    width: 6px;
    height: 6px;
  }
  .menu__footer {
    position: relative;
    color: var(--color-w);
    padding-top: 35px;
    margin-top: auto;
  }
  .menu__footer::before {
    position: absolute;
    content: '';
    background-color: var(--color-hc);
    height: 1px;
    width: 100%;
    top: 0;
    left: 0;
  }
  .menu__footer-text {
    margin-bottom: 35px;
  }
  .menu__footer-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .menu__footer-item {
    margin: 10px 16px;
  }
  .menu__footer-link {
    font-size: 18px;
  }
  .footer {
    display: none;
  }
  .products__dropdown-sort .dropdown__btn-sort {
    color: transparent;
    width: 20px;
    height: 17px;
    min-width: auto;
    padding: 0;
    border: none;
    font-size: 0;
    bottom: 3px;
  }
  .products__dropdown-sort .dropdown__btn-sort::before {
    left: 0;
  }
  .dropdown--active .products__dropdown-sort .dropdown__btn-sort {
    background-color: transparent;
  }
  .products__dropdown-sort .dropdown__sort-list {
    width: auto;
    border-radius: 10px;
    top: calc(100% + 20px);
  }
  .products__dropdown-sort .dropdown__sort-list.dropdown__list--active {
    padding: 10px 15px 10px 25px;
  }
  .products__search .search {
    margin-left: 10px;
  }
  .deal__header {
    position: sticky;
    z-index: 10;
    top: 0;
    padding: 10px 0 10px;
    margin-bottom: 0;
    background-color: var(--color-bg);
  }
  .deal {
    margin-top: 5px;
  }
  .deal__side-header {
    position: sticky;
    z-index: 10;
    background-color: var(--color-bg);
    box-shadow: 0 5px 10px 5px var(--color-bg);
  }
  .deal__search .search__form {
    left: 30px;
  }
  .deal__search .search__form--active {
    width: calc(100% - 30px);
  }
  .deal__filter-block {
    flex-basis: 0;
  }
  .deal__filter-btn {
    display: block;
    order: 4;
    margin-left: 10px;
    line-height: 0;
  }
  .deal__filter {
    position: fixed;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    overflow-y: auto;
    z-index: 100;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transform: translateY(-100%);
    transition: all .3s;
    padding-bottom: 0;
  }
  .filter--active.deal__filter {
    transform: translateY(0);
  }
  .deal__filter .filter__title {
    position: relative;
    display: block;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: var(--color-mc);
    padding-bottom: 30px;
    margin-bottom: 40px;
  }
  .deal__filter .filter__title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--color-hc);
  }
  .deal__filter .filter__close-btn {
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;
  }
  .deal__filter .filter__buttons {
    position: sticky;
    z-index: 90;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 0;
    margin-top: auto;
    margin-left: -10px;
    background-color: var(--color-c);
    box-shadow: 0 0 10px 15px var(--color-c);
  }
  .deal__filter .filter__btn {
    color: var(--color-w);
    font-size: 16px;
    font-weight: 500;
    width: calc(50% - 10px);
    background-color: var(--color-hc);
    border-radius: 10px;
    padding: 11px 10px;
    margin-left: 10px;
  }
  .deal__filter .filter__submit-btn {
    background-color: var(--color-mc);
  }
  .deal__inner {
    display: block;
  }
  .deal__header {
    flex-wrap: wrap;
  }
  .deal__btn {
    flex-basis: 100%;
    margin-right: 0;
    margin-top: 10px;
    order: 3;
  }
  .deal__items-header-buy {
    margin-right: 10px;
  }
  .deal__items-header {
    flex-basis: calc(50% - 5px);
  }
  .deal__item {
    width: calc(33.333% - 10px);
  }
  .info__inner {
    display: block;
  }
  .info__aside {
    margin-right: 0;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }
  .info__menu-item, 
  .info__menu-link {
    display: block;
  }
  .info__pages,
  .info__menu {
    flex-basis: calc(50% - 5px);
  }
  .info__menu {
    margin-right: 10px;
  }
  .info__pages-link {
    margin-top: 0;
  }
  .info__pages-link + .info__pages-link {
    margin-top: 10px;
  }
  .products__search {
    margin-left: 10px;
  }
}

@media (max-width: 600px) {
  .header__sign-in {
    min-width: 80px;
  }
  .header__category {
    margin: 0;
  }
  .modal-item {
    max-width: 100%;
    height: 100%;
    border-radius: 0;
    max-height: 100vh;
    overflow-y: auto;
  }
  .modal-item__links-row {
    text-align: center;
  }
  .modal-item__link {
    margin: 10px 20px;
  }
  .modal-item__link + .modal-item__link {
    margin: 10px 20px;
  }
  .deal__item {
    width: calc(50% - 10px);
  }
  .deal__header-name span {
    font-size: 12px;
  }
}

@media (max-width: 500px) {
  .container {
    padding: 0 10px;
  }
  .dropdown__btn-sort .dropdown__btn-text {
    display: none;
  }
  .products__search-wrapper {
    margin-left: 10px;
  }
  .products__content-buy {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 20;
    margin-left: 0;
    justify-content: space-between;
  }
  .products__buy-btn {
    min-width: 100px;
    padding: 15px 10px;
    border-radius: 10px 0 0 10px;
  }
  .products__summ {
    margin-right: auto;
  }
  .products__cart {
    margin-left: auto;
  }
  .footer__inner {
      padding: 40px 15px 80px;
  }
  .footer__text {
    margin-bottom: 20px;
  }
  .footer__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .footer__menu-item + .footer__menu-item {
    margin-left: 30px;
  }
  .footer__menu-item {
    margin: 15px 30px;
    text-align: center;
  }
  .products__content-items {
    padding-bottom: 45px;
  }
  .header__logo {
    margin-left: auto;
    margin-right: 25px;
  }
  .modal-item__slider-block {
    max-width: 100%;
  }
  .modal-item__img {
    max-width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .info__aside {
    display: block;
  }
  .info__menu {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

@media (max-width: 400px) {
  .products__item {
    padding-bottom: 10px;
  }
  .item__icons {
    left: 15px;
  }
}

@media (min-width: 701px) {
  .deal__side-header {
    top: 0 !important;
  }
}